.bold {
  height: 100vh;
  background-color: skyblue;
  background-size: cover;
}

.all {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px;
}

.h4 {
  color: midnightblue;
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.page {
  text-align: center;
  line-height: 20px;
  width: 22em;
}

.img7 img {
  border-radius: 800px;
  height: 200px;
  width: 200px;
  margin-left: 80px;
  object-fit: cover;
}

@media screen and (max-width: 385px) {
  .bold {
    height: 70em;
    background-color: skyblue;
    background-size: cover;
    align-items: center;
    margin: auto auto auto auto;
  }

  .img7 img {
    border-radius: 450px;
    height: 150px;
    width: 150px;
    margin-left: 60px;
    padding: 10px;
  }

  .all {
    display: flex;
    flex-direction: column;
  }

  .h4 {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }

  .page {
    text-align: center;
    font-size: 12.5px;
  }
}

@media screen and (max-width: 600px) {
  .bold {
    height: 68em;
    background-color: skyblue;
    background-size: cover;
    align-items: center;
    margin: auto auto auto auto;
  }

  .img7 img {
    border-radius: 450px;
    height: 150px;
    width: 150px;
    object-fit: cover;
    margin-left: 60px;
    padding: 10px;
  }

  .all {
    display: flex;
    flex-direction: column;
  }

  .h4 {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
  }

  .page {
    text-align: center;
    font-size: 12.5px;
  }
}

@media screen and (min-width: 600px) {
  .bold {
    height: 100vh;
    background-color: skyblue;
    background-size: cover;
  }

  .all {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
  }

  .h4 {
    color: midnightblue;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .page {
    text-align: center;
    line-height: 20px;
    width: 22em;
  }

  .img7 img {
    border-radius: 800px;
    height: 200px;
    width: 200px;
    margin-left: 80px;
    object-fit: cover;
  }
}

@media screen and (min-width: 768px) {
  .bold {
    height: 100vh;
    background-color: skyblue;
    background-size: cover;
  }

  .all {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
  }

  .h4 {
    color: midnightblue;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .page {
    text-align: center;
    line-height: 20px;
    width: 22em;
  }

  .img7 img {
    border-radius: 800px;
    height: 200px;
    width: 200px;
    margin-left: 80px;
    object-fit: cover;
  }
}

@media screen and (min-width: 992px) {
  .bold {
    height: 100vh;
    background-color: skyblue;
    background-size: cover;
  }

  .all {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
  }

  .h4 {
    color: midnightblue;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .page {
    text-align: center;
    line-height: 20px;
    width: 22em;
  }

  .img7 img {
    border-radius: 800px;
    height: 200px;
    width: 200px;
    margin-left: 80px;
    object-fit: cover;
  }
}

@media screen and (min-width: 1200px) {
  .bold {
    height: 100vh;
    background-color: skyblue;
    background-size: cover;
  }

  .all {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
  }

  .h4 {
    color: midnightblue;
    font-size: 20px;
    display: flex;
    justify-content: center;
    padding: 10px;
  }

  .page {
    text-align: center;
    line-height: 20px;
    width: 22em;
  }

  .img7 img {
    border-radius: 800px;
    height: 200px;
    width: 200px;
    margin-left: 80px;
    object-fit: cover;
  }
}
