.nav{
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-size: cover;
    position: sticky;
    top: 0;
}

.burger{
    display: none;
}

.btn2{
    border-radius: 8px;
    padding: 10px;
    border: none;
    font-size: 18px;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
}

.btn2 a{
    text-decoration: none;
}

.btn3{
    color: white;
}

.btn2 :hover{
     color: rgb(214, 202, 202);
     cursor: pointer;
}

.nav-logo{
    color: blueviolet;
    font-size: 20px;
    font-family: fantasy;
    padding: 20px;
}

.link{
    column-gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}

.link:hover{
    color: white;
}

@media screen and (max-width: 380px) {
    .nav{
        background-size: cover;
        position: sticky;
        top: 0;
        height: 55px;
    }

    .burger{
        display: block;
    }

    .link1{
        display: none;
    }

    .link{
        column-gap: 0;
        padding: 2px;
        font-size: 12px;
    }

    .btn2{
       font-size: 9px;
       padding: 5px; 
    }

    .nav-logo{
        color: blueviolet;
        font-size: 10px;
        font-family: fantasy;
        padding: 10px;
    }
}

@media screen and (max-width: 600px) {
    .nav{
        background-size: cover;
        position: sticky;
        top: 0;
        height: 55px;
    }

    .burger{
        display: block;
    }

    .link1{
        display: none;
    }

    .link{
        column-gap: 0;
        padding: 2px;
        font-size: 12px;
    }

    .btn2{
       font-size: 9px;
       padding: 5px; 
    }

    .nav-logo{
        color: blueviolet;
        font-size: 10px;
        font-family: fantasy;
        padding: 10px;
    }
}


@media screen and (min-width: 600px) {
    .nav{
        background-color: skyblue;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-size: cover;
        position: sticky;
        top: 0;
    }
    
    .btn2{
        border-radius: 8px;
        padding: 10px;
        border: none;
        font-size: 18px;
        background-color: blueviolet;
        display: flex;
        justify-content: center;
    }
    
    .btn2 a{
        text-decoration: none;
    }
    
    .btn3{
        color: white;
    }
    
    .btn2 :hover{
         color: rgb(214, 202, 202);
         cursor: pointer;
    }
    
    .nav-logo{
        color: blueviolet;
        font-size: 20px;
        font-family: fantasy;
        padding: 20px;
    }
    
    .link{
        column-gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        text-decoration: none;
        font-size: 20px;
    }
    
    .link:hover{
        color: white;
    }
}


@media screen and (min-width: 768px) {
    .nav{
        background-color: skyblue;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-size: cover;
        position: sticky;
        top: 0;
    }
    
    .btn2{
        border-radius: 8px;
        padding: 10px;
        border: none;
        font-size: 18px;
        background-color: blueviolet;
        display: flex;
        justify-content: center;
    }
    
    .btn2 a{
        text-decoration: none;
    }
    
    .btn3{
        color: white;
    }
    
    .btn2 :hover{
         color: rgb(214, 202, 202);
         cursor: pointer;
    }
    
    .nav-logo{
        color: blueviolet;
        font-size: 20px;
        font-family: fantasy;
        padding: 20px;
    }
    
    .link{
        column-gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        text-decoration: none;
        font-size: 20px;
    }
    
    .link:hover{
        color: white;
    }
}

@media screen and (min-width: 992px) {
    .nav{
        background-color: skyblue;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-size: cover;
        position: sticky;
        top: 0;
    }
    
    .btn2{
        border-radius: 8px;
        padding: 10px;
        border: none;
        font-size: 18px;
        background-color: blueviolet;
        display: flex;
        justify-content: center;
    }
    
    .btn2 a{
        text-decoration: none;
    }
    
    .btn3{
        color: white;
    }
    
    .btn2 :hover{
         color: rgb(214, 202, 202);
         cursor: pointer;
    }
    
    .nav-logo{
        color: blueviolet;
        font-size: 20px;
        font-family: fantasy;
        padding: 20px;
    }
    
    .link{
        column-gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        text-decoration: none;
        font-size: 20px;
    }
    
    .link:hover{
        color: white;
    }
}

@media screen and (min-width: 1200px) {
    .nav{
        background-color: skyblue;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-size: cover;
        position: sticky;
        top: 0;
    }
    
    .btn2{
        border-radius: 8px;
        padding: 10px;
        border: none;
        font-size: 18px;
        background-color: blueviolet;
        display: flex;
        justify-content: center;
    }
    
    .btn2 a{
        text-decoration: none;
    }
    
    .btn3{
        color: white;
    }
    
    .btn2 :hover{
         color: rgb(214, 202, 202);
         cursor: pointer;
    }
    
    .nav-logo{
        color: blueviolet;
        font-size: 20px;
        font-family: fantasy;
        padding: 20px;
    }
    
    .link{
        column-gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        text-decoration: none;
        font-size: 20px;
    }
    
    .link:hover{
        color: white;
    }
}