.body{
    height: 65em;
    background: url('../../Images/lap-image.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 1024px) {
 
}

@media screen and (max-width: 667px) {
    .body{
        height: 100vh;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .body{
        height: 20em;
    }
}