.body{
    height: 65em;
    background: url('../../Images/lap-image.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 600px) {
    .body{
        height: 20em;
        background-size: cover;
    }
}

@media screen and (min-width: 600px) {
    .body{
        height: 65em;
        background: url('../../Images/lap-image.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (min-width: 600px) {
    .body{
        height: 65em;
        background: url('../../Images/lap-image.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (min-width: 600px) {
    .body{
        height: 65em;
        background: url('../../Images/lap-image.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media screen and (min-width: 600px) {
    .body{
        height: 65em;
        background: url('../../Images/lap-image.jpeg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}